@mixin center($direction) {
    position: absolute;

    @if $direction =="both" {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
    }

    @else if $direction =="vertical" {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translate(-50%, -50%);
    }

    @else if $direction =="horizontal" {
        left: 50%;
        transform: translate(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -moz-transform: translate(-50%, -50%);
    }
}

@mixin linear-gradient($direction, $gradients...) {
    background: linear-gradient($direction, $gradients);
    background: -webkit-linear-gradient($direction, $gradients);
    background: -moz-linear-gradient($direction, $gradients);
    background: -ms-linear-gradient($direction, $gradients);
}

@mixin box($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin absolute-position($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin font-size($size, $unit: px) {
    @if $unit ==rem {
        font-size: $size / 16 + rem;
        line-height: $size * 1.5 + rem;
    } @else {
        font-size: $size + px;
        line-height: $size * 1.5 + px;
    }
    
    letter-spacing: normal;
}

