@use "mixins" as m;

.box {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid black;

  &.centered-horizontally {
    @include m.center("horizontal");
  }

  &.centered-vertically {
    @include m.center("vertical");
  }

  &.centered-horizontally-and-vertically {
    @include m.center("both");
  }
}

// Exercise 5
.rgb-gradient {
  @include m.linear-gradient(to left, red, green, blue);
}

.element {
  @include m.box(200px, 100px); // width: 200px; height: 100px;
}

.square {
  @include m.box(150px); // width: 150px; height: 150px;
}

.popup {
  @include m.absolute-position(200px, auto, 0px, auto);
  // position: absolute;
  // top: 200px;
  // right: auto;
  // bottom: 0px;
  // left: auto;
}